@media screen and (max-width:768px) {
    #banner {
        width: 100%;
    }
    #banner img {
        width: 50%;
    }
    #menubar {
        width: 100%;
    }
    ul li {
        width: 100%;
    }
}