#header{
    width: 100%;
    background: burlywood;
    margin-bottom: 2px;
    height: 50px;
}
#header img{
    height: 50px;
    width: 5%;
    background-color: burlywood;
}
#content {
    clear: both;
    height: 1500px;
    width: 100%;
}
#sidebar{
    float: left;
    width: 20%;
    height: 1500px;
}
#main {
    float: left;
    width: 60%;
    height: 1500px;
    overflow: auto;
}

#main_first {
    /* background: yellowgreen; */
    margin-top: 5px;
    /* margin-bottom: 5px; */
    height: 20%;
    text-align: center;
}
#nav {
    background: aquamarine;
    border: 1px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 30px;
    left: 30px;
    position: absolute;
}
#nav img{
    width: 30px;
    height: 30px;

}
.main_first_1{
    background: rgba(44, 40, 40, 0.867);
    float: left;
    width: 24%;
    margin-right:2px ;
    margin-left: 6px;
    height: 100%;
    border-style:outset;
    border-width: 1px;
    border-radius: 10px;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    position: relative;
}
#main_second {
    background: pink;
    height: 10%;
    margin-top: 5px;
    border-radius: 10px;
}
#main_third{
    background: #dddd;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 8%;
    border-radius: 14px;
}
#main_fourth{
    background: rgb(146, 122, 78);
    height: 61%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}
#poster{
    float: left;
    width: 19%;
    height: 1500px;
    overflow: scroll;
    text-align: center;
    font-weight: bolder;
    
}
#poster_first{
    height: 20%;
    border-radius: 20%;
    background: rgb(230, 226, 222);
    margin-bottom: 5px;
    text-decoration: solid;
    padding: 10px;
}
#poster_second{
    height: 20%;
    border-radius: 20%;
    background: rgb(143, 139, 133);
    margin-bottom: 5px;
    padding: 10px;
}
#poster_third{
    height: 58%;
    border-radius: 10%;
    background: rgb(131, 112, 88);
    padding: 10px;
}
.friends{
    background: rgb(119, 96, 99);
    margin-bottom: 5px;
    height: 10%;
    width: 100%;
    border-radius: 15%;
}