#header{
    width: 100%;
    background: burlywood;
    height: 50px;
    position: fixed;
    top:0px;
    float: left;
}
#header img{
    height: 50px;
    width: 5%;
    background-color: burlywood;
}
#content {
    position: relative;
    top: 50px;
    height: 1500px;
    width: 100%;
}
#sidebar{
    float: left;
    width: 20%;
    height: 1500px;
    background-color: rgb(207, 215, 223);
}
.sidebar-one {
    /* position: relative; */
    padding: 5px 10px;
    height: 40px;
    margin: auto;
}
.sidebar-one div {
    /* position: absolute;
    top: 10px;
    bottom: 10px;
    left: 20px; */
    height: 40px;
    width: 100%;
    color: blueviolet;
    margin: auto;
}
.sidebar-three, .sidebar-four, .sidebar-two {
    height: 40px;
    width: 90%;
    background-color: rgb(183, 238, 238);
    border-style:outset;
    margin: 5px auto;
    position: relative;
}
.sidebar-two ul {
    position: absolute;
    margin: 5px;
    padding: 2px 1px;
}
.sidebar-two li {
    display: inline-block;
    padding-left: 20px;
}
.sidebar-five {
    width: 100%;
    height: 280px;
}
.sidebar-four img, .sidebar-three img {
    width: 30px;
    height: 30px;
    vertical-align: center ;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left:10px
}
.sidebar-five nav {
    height: 40px;
    width: 90%;
    position: relative;
    margin-bottom: 2px ;
    margin-left: 10px;
}
.sidebar-five nav img {
    width: 30px;
    height: 30px;
    vertical-align: center ;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left:10px;
}
figure {
    text-align: left;
    padding: 7px;
}
.sidebar-six {
    height: 500px;
    width: 90%;
    /* background-color: rgb(183, 238, 238); */
    /* border-style:outset; */
    margin: 5px auto;
    position: relative;
}

.sidebar-six-event {
    height: 40px;
    width: 100%;
    padding-left: 5px;
}
div nav i {
    float: left;
    margin-top: 20px;
    padding-left: 20px;
}
div i:hover{
    color: red;
}
#main {
    float: left;
    width: 60%;
    height: 1500px;
    overflow: auto;
}
#main_first {
    margin-top: 5px;
    height: 20%;
    text-align: center;
}
#nav {
    background: aquamarine;
    border: 1px solid;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 30px;
    left: 30px;
    position: absolute;
}
#nav img{
    width: 30px;
    height: 30px;

}
.main_first_1{
    background: rgba(44, 40, 40, 0.867);
    float: left;
    width: 24%;
    margin-right:2px ;
    margin-left: 6px;
    height: 100%;
    border-style:outset;
    border-width: 1px;
    border-radius: 10px;
    /* margin-top: 5px;
    margin-bottom: 5px; */
    position: relative;
}
#main_second {
    background: pink;
    height: 10%;
    margin-top: 5px;
    border-radius: 10px;
}
#main_third{
    background: #dddd;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 8%;
    border-radius: 14px;
}
#main_fourth{
    background: rgb(146, 122, 78);
    height: 61%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}
#poster{
    float: left;
    width: 19%;
    height: 1500px;
    overflow: scroll;
    text-align: center;
    font-weight: bolder;
    
}
#poster_first{
    height: 20%;
    border-radius: 5%;
    background: rgb(230, 226, 222);
    margin-bottom: 5px;
    text-decoration: solid;
    padding: 10px;
}
#poster_second{
    height: 20%;
    border-radius: 5%;
    background: rgb(143, 139, 133);
    margin-bottom: 5px;
    padding: 10px;
}
#poster_third{
    height: 58%;
    border-radius: 5%;
    background: rgb(131, 112, 88);
    padding: 10px;
}
.friends{
    background: rgb(240, 233, 233);
    margin-bottom: 5px;
    height: 10%;
    width: 100%;
    border-radius: 0.01%;
}