* {
    box-sizing: border-box;
  }
.icon {
    color: rgb(80, 107, 107);
    background-color: rgb(115, 216, 216);
    width: 100%;
}
.icon:hover {
    color: red
}
.nav-bar {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(122, 104, 104);
    position: relative
}
div ul li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    width: 20%;
    padding: 20px;
}
div ul li::after {
    content: "";
    clear: both;
}
#left-sidebar {
    width: 17%;
    margin-right: 5px;
    float: left;
}
#left-sidebar img, #left-sidebar div {
    width: 100%;
    
}
@keyframes example {
    0%   {background-color:rgb(228, 166, 166); left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:rgb(122, 111, 111); left:0px; top:0px;}
}
#content {
    width: 70%;
    margin-right: 5px;
    background-color: aquamarine;
    float: left;
    height: 1000px;
    border-radius: 2%;
    border-style: inset;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count:infinite;
}
#content-one{
    height: 200px;
    width: 99%;
    margin-bottom: 10px;
}
#content-one div:hover {
    opacity: 0.5;
    transform: rotate(180deg)
}
.content-one-one {
    border-radius: 5%;
    float: left;
    display: block;
    width: 24%;
    height: 100%;
    margin-top: 5px;
    margin-left: 1%;
    position:relative;
} 
.nav {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
}
#content-two {
    margin: auto;
    margin-top: 5px;
    overflow: scroll;
    width: 90%;
    height: 200px;
    padding: 5px 5px;
    border-radius: 1%;
    background-image: url(anime-background-1.webp) ;
    color: rgb(167, 16, 56);
    
}
#content-two p {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}
i:hover {
    cursor: pointer;
    color: blue;
}
#right-sidebar {
    width: 12%;
    height: 250px;
    float: right;
    background-image: url(nobita.jpg);
    align-content: center;
}
.right-sidebar-one {
    width: 100%;
    height: 50px;
    /* background-color: bisque; */
    
    padding: 5px 5px;
}